@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap');
@font-face {
	font-family: 'Baloo Bhai';
	src: local(fonts/BalooBhai-Regular.ttf) format("opentype"),
			 url('https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap') format("opentype");
}
body {
	font-family: 'Baloo Bhai', cursive;
}
.container {
	
}
.header {
	height: 977px;
	max-width: 1440px;
	background-color: #f4f9f4;
	margin: 0 auto;
}
.nav-bar {
	background-color: #e2ede8;
	position: fixed;
	left: 139px;
	top: 45px;
	width: 1300px;
}
.nav-bar-logo {}
.nav-bar-logo__image {}
.nav-bar-logo__title {}
.nav-bar__menu {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
.header__logo {}
.header__title {}
.header__subtitle {}
.header__button {}