@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*{
	box-sizing: border-box;
	margin: 0;
}
.container{
	font-family: 'Baloo Bhai';
}
/* HEADER */
.header{
	height: 975px;
}
/* NAV-BAR */

.grid-layout-nav {
	display: grid;
	grid-template-columns: 0.45fr 3fr 2.3fr;
	grid-template-rows: 44.33px 44.33px 44.33px;
}
.nav-col-1 {
	grid-column: 1;
	grid-row: 1/4;

	background-color: #a7d7c5;
	margin-left: 30px;
	
	display: flex;
	justify-content: center;
	align-items: center;
}
.nav-bar__logo{
	margin-top: 0px;
}
.nav-col-2 {
	grid-column: 2;
	grid-row: 2;
	background-color: #e2ede8;
}
.nav-col-3 {
	grid-column: 3;
	grid-row: 2;

	background-color: #e2ede8;
}
.nav-bar-menu{
	display: grid;
	grid-template-columns: repeat(4, minmax(120px, 1fr));
	grid-template-rows: 44.33px;
	grid-gap: 10px;
	padding-right: 30px;
}
.nav-bar-menu__link1{
	grid-column: 1;

	display: flex;
	justify-content: center;
	align-items: center;
}
.nav-bar-menu__link2{
	grid-column: 2;
	
	display: flex;
	justify-content: center;
	align-items: center;
}
.nav-bar-menu__link3{
	grid-column: 3;
	
	display: flex;
	justify-content: center;
	align-items: center;
}
.nav-bar-menu__link4{
	grid-column: 4;

	display: flex;
	justify-content: center;
	align-items: center;
}
.nav-bar-menu a{
	text-decoration: none;
	color: black;
	word-wrap: normal;
	padding-left: 10px;
	padding-right: 10px;
}
.nav-bar-menu a:hover{
	background-color: #c7d9d5;
}

/* HEADER MAIN */
.grid-layout-header{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
	grid-template-rows: 213.33px 213.33px 213.33px;
	margin: 0px 80px 0px 80px;
}
.head-col-1{
	background-image: url(/img/header/Shape.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;;

	grid-row: 1/4;
	background-size: contain;

	display: flex;
	justify-content: center;
	align-items: center;
	
}
.header-logo__image{
	height: auto;
	width: auto;
}
.head-col-2{
	grid-row: 2;

	display: grid;
	grid-template-columns: repeat(1, minmax(650px, 1fr));
	grid-template-rows: repeat(3, 1fr);
}
.head-col-2 h1{
	font-size: 98px;
	color: #6c9894;
}
.head-col-2 p{
	font-size: 20px;
	text-align: center;
	color: #6c9894;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}
.head-row-1{
	display: flex;
	justify-content: center;
	align-items: center;
}
.head-row-2{
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-right: 100px;
	padding-left: 100px;
}
.head-row-3{
	display: grid;
	grid-template-columns: 3fr 1fr 3fr;
	margin-top: 30px;
}
.header__button{
	grid-column: 2;
	display: flex;
	justify-content: center;
	align-items: center;

	text-decoration: none;

	border-radius: 10px;
	background-color: #6c9894;
	color: rgb(255, 255, 255);

	padding: 10px ;
}
.shape-bg-blocks{
	position: absolute;
	background-image: url(img/choose-class/Shape-bg-blocks.png);
	height: 748px;
	width: 372px;
	right: 0;
	top: 625px;
}
/* CHOOSE CLASS SECTION */

.choose-class{
	height: 970px;
	background-color: #6c9894;
	
	display: grid;
	grid-template: auto 1fr;
	justify-items: center;
	
	color: #ffffff;

	position: relative;
	z-index: 1000;
}
.choose-class__title{
	font-size: 75px;
	display: grid;
	align-items: end;
}
.choose-class__subtitle{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(460px, 640px));
	align-items: start;
	
	font-size: 30px;
	font-weight: 400;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	text-align: center;
}
.choose-class__block{
	display: grid;
	grid-template-columns: repeat(3, 385px);
	grid-gap: 30px;
}
.choose-class__block__image{
	display: flex;
	justify-content: center;
	align-items: center;
}
.block__card{
	display: grid;
	grid-template-rows: 385px 1fr 1fr;

	background-image: url(img/choose-class/Shape.png);
	background-repeat: no-repeat;
	
}
.choose-class__block__title{
	font-size: 37px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.choose-class__block__subtitle{
	font-size: 22px;
	text-align: center;
	font-weight: 400;
	font-family: 'Montserrat', sans-serif;
	
}
/* OUR STATS SECTION */
.our-stats-section__design{
	position: absolute;
	transform: translateY(-73px);
	z-index: 1;
}
.our-stats-section {
	height: 975px;

	display: grid;
	grid-template-rows: 1fr 1fr 1.5fr;
	justify-items: center;

	background-image: url(img/our-stats/Shape.jpg);
	background-repeat: no-repeat;
	background-size: cover;

	color: #6c9894;
}
.our-stats-section__title {
	font-size: 75px;
	display: grid;
	align-items: end;
}
.our-stats-section__subtitle {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(460px, 640px));
	align-items: start;

	font-size: 30px;
	text-align: center;
	font-weight: 400;
	font-family: 'Montserrat', sans-serif;
}
.our-stats-section__block {
	display: grid;
	grid-template-columns: repeat(3, minmax(320px, 325px));
	grid-gap: 115px;
	
	margin-bottom: 100px;
}
.our-stats-section__block__card {
	border-radius: 50%;
	border: solid 5px #6c9894;
	display: grid;

}
.block__card__title {
	font-size: 67px;
	text-align: center;
	display: grid;
	align-items: end;
}
.block__card__subtitle {
	font-size: 26px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	text-align: center;
}
/* INSTRUCTOR SECTION */
.instructor-section {
	display: grid;
	grid-template-columns: repeat(2, minmax(320px, 1fr));

	color: #ffffff;

	position: relative;
	z-index: 1000;
}
.instructor-section__left {
	display: grid;
	grid-template-rows: 1fr 200px 0.9fr;
	background-color: #6c9894;
	padding-left: 95px;
}
.instructor-section__left__title {
	display: grid;
	align-items: flex-end;

	font-size: 75px;
}
.instructor-section__left__subtitle {
	display: grid;
	grid-template-columns: minmax(320px, 580px);

	font-size: 30px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}
.instructor-section__button{
	color: #6c9894;
	text-decoration: none;
	background-color: #ffffff;

	padding: 8px 95px;
	border-radius: 5px;

	font-size: 25px;
}
.instructor-section__right{
	display: flex;
}
.instructor-section__image {
	width: 100%;
	height: 100%;
}
/* NEW EXP SECTION */
.new-exp-section__design{
	position: absolute;
	right: 0;
	height: 151%;
	z-index: 1;
}
.new-exp-section {
	position: relative;
	z-index: 1000;
	
	display: grid;
	grid-template-columns: repeat(2, minmax(320px, 1fr));
	grid-gap: 165px;

	color: #6c9894;
}
.new-exp-section__left {
	display: flex;
	justify-content: center;
	align-items: center;
}
.new-exp-section__image {
	height: 100%;
	width: 100%;
	padding: 110px 0 75px 30px;
}
.new-exp-section-right {
	display: grid;
	grid-template-rows: 1fr 200px 0.9fr;
}
.new-exp-section-right__title {
	font-size: 75px;

	display: grid;
	align-items: end;
}
.new-exp-section-right__subtitle {
	font-size: 30px;
	display: grid;
	grid-template-columns: minmax(320px, 580px);
}
.new-exp-section-button {
	background-color: #6c9894;
	
	color: #ffffff;
	text-decoration: none;

	padding: 8px 95px;
	border-radius: 5px;

	font-size: 25px;
}
/* PRICING SECTION */
.pricing-section {
	position: relative;
	padding-bottom: 100px;
	
	display: grid;
	grid-template-rows: 220px 130px 1fr;
	grid-gap: 30px;
	justify-items: center;

	color: #ffffff;

	background-color: #6c9894;
}
.pricing-section__title {
	font-size: 75px;
	display: grid;
	align-items: end;
}
.pricing-section__subtitle {
	display: grid;
	grid-template-columns: minmax(320px, 640px);
	align-items: start;
	text-align: center;
	
	font-size: 30px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}
.pricing-section__block {
	display: grid;
	grid-template-columns: repeat(3, minmax(380px, 1fr));
	grid-gap: 85px;
}
.pricing-section__block__card {
	background-color: #ffffff;
	color: #6c9894;
	height: 500px;

	display: grid;
	grid-template-rows: repeat(5, 1fr);
	justify-items: center;

	border-radius: 10px;
}
.pricing-section-card__title {
	font-size: 37px;
	display: grid;
	align-items: end;
}
.pricing-section-card__price {
	font-size: 37px;
	display: grid;
	align-items: start;
}
.pricing-section-card__logo {
	display: grid;
	align-items: start;
}
.pricing-section-card__subtitle {
	display: grid;
	font-size: 22px;
	font-family: 'Montserrat', sans-serif;
	grid-template-columns: minmax(50%, 320px);
	text-align: center;
	align-items: center;
}
.pricing-section-card__button {
	display: grid;
	align-items: end;
}
.card__button {
	text-decoration: none;
	font-size: 25px;
	color: #ffffff;

	padding: 15px 72.5px 15px 72.5px;
	margin-bottom: 30px;
	border-radius: 5px;
	background-color: #6c9894;
}
/* TRAINER SECTION */
.trainer-section {
	display: grid;
	
}
.trainer-section__image { }
.trainer-section__image__photo { }
.trainer-section__main-text { }
.trainer-section__name { }